---
---

@import "{{ site.theme }}";

ul.post-list {
	list-style: none;
}

img {
	max-width: 100%;
}

body {
	font-family: var(--font-family-text);
	padding: 0;
}

main ul,
main li,
main ol,
main table,
main dl,
main p {
	margin: 11px 0 16px;
}

p {
	line-height: var(--line-height-base);
}
