---
---

@import "{{ site.theme }}";

header li {
	background: #E87722;
	background: -moz-linear-gradient(top, #E87722 0%, #C35F14 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top, #E87722 0%,#C35F14 100%);
	background: -o-linear-gradient(top, #E87722 0%,#C35F14 100%);
	background: -ms-linear-gradient(top, #E87722 0%,#C35F14 100%);
	background: linear-gradient(top, #E87722 0%,#C35F14 100%);
	border: 0;
	box-shadow: none;

	&:hover {
		background: #C35F14;
		background: -moz-linear-gradient(top, #C35F14 0%, #95480f 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
		background: -webkit-linear-gradient(top, #C35F14 0%,#95480f 100%);
		background: -o-linear-gradient(top, #C35F14 0%,#95480f 100%);
		background: -ms-linear-gradient(top, #C35F14 0%,#95480f 100%);
		background: linear-gradient(top, #C35F14 0%,#95480f 100%);
		border: 0;
		box-shadow: none;
	}
}
