<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <link rel="stylesheet" href="https://unpkg.com/lux-design-system@5.6.1/dist/style.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3.2.47/dist/vue.esm-browser.prod.js",
          "lux-design-system": "https://unpkg.com/lux-design-system@5.6.1/dist/lux-styleguidist.mjs"
        }
      }
    </script>
    <script type="module" src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>
  <body id="app">
      <lux-library-header app-name="{{ site.title | default: site.github.repository_name }}" abbr-name="PUL Systems" app-url="/" theme="dark">
        <lux-menu-bar type="main-menu" :menu-items="[
            {name: 'PUL on Github', component: 'PUL on Github', href: '{{ site.github.owner_url }}'},
          ]"
        ></lux-menu-bar>
      </lux-library-header>

      <lux-wrapper type="main">
        {{ content }}
      </lux-wrapper>

      <lux-library-footer></lux-library-footer>
  </body>
</html>
